* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    outline: none;                              /* don't show these dotted borders around any links */
}

body {
    background-color: #fff;
    background-attachment: fixed;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

a:link {
    color: #000;
    text-decoration: none;
}
a:visited {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #000;
    text-decoration: none;
}
a:active {
    color: #000;
    text-decoration: none;
}
a:focus {
    color: #000;
    text-decoration: none;
}

.Box {
    /* size */
    width: 100px;
    height: 59px;
    /* center */
    margin-left: auto;
    margin-right: auto;
    /* distance to box above */
    margin-top: 10px;
    /* misc */
    overflow: none;
    border: #00f 3px outset;
    text-align: center;
    line-height: 59px;    /* line-height should have the same height, as the height attribute  */
}
.Box:hover{
    border: #00f 3px inset;
}

.Box > span {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;  
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}
